@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
}

.custom-container {
  max-width: 90%;
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  .custom-container {
    max-width: 650px;
  }
}

@media screen and (min-width: 850px) {
  .custom-container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1024px) {
  .custom-container {
    max-width: 950px;
  }
}

@media screen and (min-width: 1330px) {
  .custom-container {
    max-width: 1200px;
  }

  .swiper-slide img {
    object-fit: cover !important;
  }
}

@media screen and (min-width: 1440px) {
  .custom-container {
    max-width: 1350px;
  }
}

@media screen and (min-width: 1660px) {
  .custom-container {
    max-width: 1440px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom hover a */

nav a {
  position: relative;
}

nav a::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 4px;
  background-color: #2F4DE4;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s ease;

  @apply dark:bg-yellow-200
}


nav a:hover::before {
  width: 100%;
}

/* Pagination styles */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 9px;
}

.pagination .page-num {
  background-color: #D6DDFF;
  padding: 10px 15px;
  border-radius: 12px;
  color: #2F4DE4;
}

.pagination .page-num:hover {
  background-color: #a1aeef;
  transition: all .3s ease;
}

.pagination .active-num {
  background-color: #2F4DE4;
  color: #FFFFFF;
}


/* burger menu styles */

.nav-phone {
  position: fixed;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  top: 0;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  transition: all .6s ease;
  border-radius: 35%;
  z-index: 9999;
}

.closer {
  position: absolute;
  top: 25px;
  right: 20px;
}

.nav-phone.active {
  left: 0;
  border-radius: 0;
}

.article-page {
  @apply space-y-[15px]
}

.article-page img, .article-page iframe {
  @apply h-[300px] md:h-[400px] lg:h-[500px] w-full rounded-[20px]
}

.article-page h1 {
  @apply text-[32px] text-balance border-b border-[#2F4DE4] dark:border-yellow-200 text-[#2F4DE4] dark:text-yellow-200 text-center font-semibold
}